@{
    ViewBag.Title = "Home Page";
}

<!-- ==========  Banner  ========== -->
<section id="Banner" class="animate-box">
    <div class="main-banner">
        <div class="banner-content">
            <div class="names animated" data-animate="fadeInUp" data-delay="1s"><div class="name-boy">The Best Way of Wedding Planning</div></div>
            <h4 class="invite animated" data-animate="fadeInUp" data-delay="1.1s">Search for trusted Wedding Vendors</h4>
            <div class="col-md-3"></div>
            <div class="col-md-2 dropDown">
                <div class="form-group">
                    <select class="cs-select cs-skin-elastic form-control animated" id="rsvp_func" name="func" data-animate="fadeInUp" data-delay="1.3s">
                        <option value="-1">Select Event</option>
                        <option value="Ring Ceremony">Wedding</option>
                        <option value="Wedding Ceremony">Birthday Party</option>
                        <option value="Party">Party Hall</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 dropDown">
                <div class="form-group">
                    <select class="cs-select cs-skin-elastic form-control animated" id="rsvp_func" name="func" data-animate="fadeInUp" data-delay="1.3s">
                        <option value="-1">Select City</option>
                        <option value="Ring Ceremony">Chennai</option>
                        <option value="Wedding Ceremony">Coimbatore</option>
                        <option value="Party">Banglore</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 dropDown">
                <div class="form-group">
                    <select class="cs-select cs-skin-elastic form-control animated" id="rsvp_func" name="func" data-animate="fadeInUp" data-delay="1.3s">
                        <option value="-1">Select Date</option>
                        <option value="Ring Ceremony">Chennai</option>
                        <option value="Wedding Ceremony">Coimbatore</option>
                        <option value="Party">Banglore</option>
                    </select>
                </div>
            </div>
            <div class="col-md-1 btnSubmit">
                <div class="form-group">
                    <button type="submit" id="rsvp_submit" name="submit" class="btn animated" data-animate="fadeInUp" data-delay="1.3s"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========  /Banner  ========== -->
<!-- ==========  Bridegroom  ========== -->
<section id="Bridegroom" class="bridegroom section-padding animate-box">
    <div class="container">
        <h3 class="section-title">The <span>Couple</span></h3>
        <p class="section-tagline">
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        </p>
        <div class="row">
            <div class="couple-hex">
                <div class="col-md-3 col-md-push-3 col-md-offset-0 col-sm-4 col-sm-offset-2">
                    <div class="hexagon animated" data-animate="zoomIn" data-delay="0.5s"><div class="hexagon-in1"><div class="hexagon-in2 groom"></div></div></div>
                </div>
                <div class="col-md-3 col-md-pull-3 col-sm-4 text-center">
                    <div class="hexagon animated" data-animate="zoomIn" data-delay="1s">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2">
                                <div class="about-content">
                                    <h2>Steve</h2>
                                    <h4>The <span>Groom</span></h4>
                                    <div class="hex-social">
                                        <a href="javascript:void(0)" class="frnd-social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="javascript:void(0)" class="frnd-social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-md-offset-0 col-sm-offset-2">
                    <div class="hexagon animated" data-animate="zoomIn" data-delay="0.5s"><div class="hexagon-in1"><div class="hexagon-in2 bride"></div></div></div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="hexagon animated" data-animate="zoomIn" data-delay="1s">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2">
                                <div class="about-content">
                                    <h2>Sarah</h2>
                                    <h4>The <span>Bride</span></h4>
                                    <div class="hex-social">
                                        <a href="javascript:void(0)" class="frnd-social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="javascript:void(0)" class="frnd-social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 hexa-gap">
                    <div class="hexagon animated" data-animate="zoomIn" data-delay="1.5s">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2">
                                <div class="about-content">
                                    <h3 class="hex-title">About <span>Steve</span></h3>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="hexagon animated" data-animate="zoomIn" data-delay="1.5s">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2 hex-quote">
                                <div class="about-content">
                                    <h4>Love is when the other person's happiness is more important than your own.</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="hexagon animated" data-animate="zoomIn" data-delay="1.5s">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2">
                                <div class="about-content">
                                    <h3 class="hex-title">About <span>Sarah</span></h3>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========  /Bridegroom  ========== -->
<!-- ==========  Event Section  ========== -->
<section id="Events" class="section-padding animate-box">
    <div class="container">
        <h3 class="section-title light">Upcoming <span>Events</span></h3>
        <p class="section-tagline light">
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        </p>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="event-container style-2 animated" data-animate="fadeInUp">
                    <div class="event-image">
                        <img src="images/retina/events/event-1.jpg" class="img-responsive" alt="event1" />
                    </div>
                    <div class="event-desc">
                        <h2 class="event-name">Ring Ceremony</h2>
                        <div class="event-detail">
                            <span class="on-at">on</span>
                            <span class="content">20th December 2016</span>
                            <span class="on-at">at</span>
                            <span class="content">8:00 PM</span>
                            <span class="content">29, Your Street , City<br> State, India, 394110</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="event-container style-2 animated" data-animate="fadeInUp" data-delay="0.5s">
                    <div class="event-image">
                        <img src="images/retina/events/event-2.jpg" class="img-responsive" alt="event1" />
                    </div>
                    <div class="event-desc">
                        <h2 class="event-name">Wedding Ceremony</h2>
                        <div class="event-detail">
                            <span class="on-at">on</span>
                            <span class="content">20th December 2016</span>
                            <span class="on-at">at</span>
                            <span class="content">8:00 PM</span>
                            <span class="content">29, Your Street , City<br> State, India, 394110</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-3">
                <div class="event-container style-2 animated" data-animate="fadeInUp" data-delay="0.8s">
                    <div class="event-image">
                        <img src="images/retina/events/event-3.jpg" class="img-responsive" alt="event1" />
                    </div>
                    <div class="event-desc">
                        <h2 class="event-name">Party</h2>
                        <div class="event-detail">
                            <span class="on-at">on</span>
                            <span class="content">20th December 2016</span>
                            <span class="on-at">at</span>
                            <span class="content">8:00 PM</span>
                            <span class="content">29, Your Street , City<br> State, India, 394110</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========  /Event Section  ========== -->
<!-- ==========  Gallery Section  ========== -->
<section id="Gallery" class="section-padding animate-box">
    <div class="container">
        <h3 class="section-title">What we <span>DO</span></h3>
        <div class="isotopeFilters">
            <ul class="list-inline filter">
                <li class="active"><a href="#" data-filter="*">All </a></li>
                <li><a href="javascript:void(0);" data-filter=".engagement">Engagement</a></li>
                <li><a href="javascript:void(0);" data-filter=".wedding">Wedding</a></li>
                <li><a href="javascript:void(0);" data-filter=".party">Party</a></li>
                <li><a href="javascript:void(0);" data-filter=".dj">DJ Night</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="isotopeContainer">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 isotopeSelector engagement dj">
                    <figure>
                        <div class="gallery-container">
                            <img class="img-responsive" src="images/retina/gallery/gallery-1.jpg" alt="sample image">
                            <div class="gallery-hover">
                                <h5>Wedding Party</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                <a href="images/retina/gallery/gallery-1.jpg" class="btn-gallery btn-search" data-rel="lightcase:myCollection:slideshow">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:void(0);" class="btn-gallery btn-share">
                                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 isotopeSelector wedding dj">
                    <figure>
                        <div class="gallery-container">
                            <img class="img-responsive" src="images/retina/gallery/gallery-2.jpg" alt="sample image">
                            <div class="gallery-hover">
                                <h5>Wedding Party</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                <a href="images/retina/gallery/gallery-2.jpg" class="btn-gallery btn-search" data-rel="lightcase:myCollection:slideshow">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:void(0);" class="btn-gallery btn-share">
                                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 isotopeSelector engagement dj">
                    <figure>
                        <div class="gallery-container">
                            <img class="img-responsive" src="images/retina/gallery/gallery-3.jpg" alt="sample image">
                            <div class="gallery-hover">
                                <h5>Wedding Party</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                <a href="images/retina/gallery/gallery-3.jpg" class="btn-gallery btn-search" data-rel="lightcase:myCollection:slideshow">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:void(0);" class="btn-gallery btn-share">
                                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 isotopeSelector wedding party">
                    <figure>
                        <div class="gallery-container">
                            <img class="img-responsive" src="images/retina/gallery/gallery-4.jpg" alt="sample image">
                            <div class="gallery-hover">
                                <h5>Wedding Party</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                <a href="images/retina/gallery/gallery-4.jpg" class="btn-gallery btn-search" data-rel="lightcase:myCollection:slideshow">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:void(0);" class="btn-gallery btn-share">
                                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 isotopeSelector engagement party">
                    <figure>
                        <div class="gallery-container">
                            <img class="img-responsive" src="images/retina/gallery/gallery-5.jpg" alt="sample image">
                            <div class="gallery-hover">
                                <h5>Wedding Party</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                <a href="images/retina/gallery/gallery-5.jpg" class="btn-gallery btn-search" data-rel="lightcase:myCollection:slideshow">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:void(0);" class="btn-gallery btn-share">
                                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 isotopeSelector wedding party">
                    <figure>
                        <div class="gallery-container">
                            <img class="img-responsive" src="images/retina/gallery/gallery-6.jpg" alt="sample image">
                            <div class="gallery-hover">
                                <h5>Wedding Party</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                <a href="images/retina/gallery/gallery-6.jpg" class="btn-gallery btn-search" data-rel="lightcase:myCollection:slideshow">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:void(0);" class="btn-gallery btn-share">
                                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 isotopeSelector engagement dj">
                    <figure>
                        <div class="gallery-container">
                            <img class="img-responsive" src="images/retina/gallery/gallery-7.jpg" alt="sample image">
                            <div class="gallery-hover">
                                <h5>Wedding Party</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                <a href="images/retina/gallery/gallery-7.jpg" class="btn-gallery btn-search" data-rel="lightcase:myCollection:slideshow">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:void(0);" class="btn-gallery btn-share">
                                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 isotopeSelector wedding party">
                    <figure>
                        <div class="gallery-container">
                            <img class="img-responsive" src="images/retina/gallery/gallery-8.jpg" alt="sample image">
                            <div class="gallery-hover">
                                <h5>Wedding Party</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                <a href="images/retina/gallery/gallery-8.jpg" class="btn-gallery btn-search" data-rel="lightcase:myCollection:slideshow">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:void(0);" class="btn-gallery btn-share">
                                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 isotopeSelector engagement dj party">
                    <figure>
                        <div class="gallery-container">
                            <img class="img-responsive" src="images/retina/gallery/gallery-9.jpg" alt="sample image">
                            <div class="gallery-hover">
                                <h5>Wedding Party</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                <a href="images/retina/gallery/gallery-9.jpg" class="btn-gallery btn-search" data-rel="lightcase:myCollection:slideshow">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:void(0);" class="btn-gallery btn-share">
                                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========  /Gallery Section  ========== -->

<section id="RSVP" class="section-padding rsvp animate-box">
    <div class="container">
        <h3 class="section-title">For any <span>Information</span></h3>
        <div class="row">
            <div class="col-md-8 col-sm-10 col-sm-offset-1 col-md-offset-2">
                <form id="rsvp_form" class="animated" data-animate="zoomIn" data-delay="0.2s">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" id="rsvp_name" name="name" class="form-control" placeholder="Your Name" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" id="rsvp_email" name="email" class="form-control" placeholder="Your Email" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" id="rsvp_number" name="number" class="form-control" placeholder="Your Mobile Number" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="cs-select cs-skin-elastic form-control" id="rsvp_func" name="func">
                                    <option value="-1">Where you from</option>
                                    <option value="Ring Ceremony">Chennai</option>
                                    <option value="Wedding Ceremony">Coimbatore</option>
                                    <option value="Party">Banglore</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control" id="rsvp_message" name="message" placeholder="Notes" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <button type="submit" id="rsvp_submit" name="submit" class="btn col-md-12">Notify me</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- ==========  /RSVP Section  ========== -->
<!-- ==========  Footer Section  ========== -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-names">
                    <h4><span>Thank you</span> for Visiting our Website.</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <span>© 2020 ALL RIGHTS RESERVED</span>
    </div>
</footer>
<!-- ==========  /Footer Section  ========== -->